$black: #000000;
$grey: #7f7f7f;
$white: #ffffff;

$title: #323232;
$paragraph: #4c4c4c;

$page_bg: #f1f1f1;

$blue: #005cc5;
$blue_hover: #0050ab;
$blue_pressed: #00418b;

$green: #04d728;
$green_hover: #28a745;
$green_pressed: #1d8e37;

$red: #c54239;
$red_hover: #b73d35;
$red_pressed: #aa3931;

$orange: #d78f38;
$orange_hover: #cd8835;
$orange_pressed: #bc7c30;

$code_color: #d73a49;
$code_bg: #ebebeb;
$code_border: #cacdcb;

$love: #d73a49;
