.button {
  display: inline-block;
  position: relative;
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 140ms;

  &--blue {
    color: $white;
    background-color: $blue;

    &:hover {
      background-color: $blue_hover;
    }

    &:active {
      background-color: $blue_pressed;
    }
  }

  &--green {
    color: $white;
    background-color: $green;

    &:hover {
      background-color: $green_hover;
    }

    &:active {
      background-color: $green_pressed;
    }
  }

  &--red {
    color: $white;
    background-color: $red;

    &:hover {
      background-color: $red_hover;
    }

    &:active {
      background-color: $red_pressed;
    }
  }

  &--orange {
    color: $white;
    background-color: $orange;

    &:hover {
      background-color: $orange_hover;
    }

    &:active {
      background-color: $orange_pressed;
    }
  }
}
