.form {
  &__group {
    position: relative;
    margin-bottom: 1rem;
  }

  &__label {
    display: inline-block;
    font-size: 0.875rem;
    color: $paragraph;
    margin-bottom: 0.25rem;
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: $title;
    border: 1px solid $title;
    border-radius: 3px;
    background-color: $white;
    transition: all ease-in-out 180ms;

    &:focus {
      border-color: $blue;
    }
  }

  &__radio-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    label {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      color: $paragraph;
      font-size: 0.875rem;
      cursor: pointer;

      input {
        width: 1.125rem;
        height: 1.125rem;
        appearance: radio;
      }

      & + label {
        margin-left: 1rem;
      }
    }
  }
}
